**/bin/*
**/obj/*
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncrunch*
*.dotCover
*.ReSharper*
*.CodeRush*
*.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
*.log
.env
