services:
  db:
    image: postgres:16
    container_name: expense-tracker-db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    image: bakeroni1/expense-tracker-api:latest
    container_name: expense-tracker-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Database__ConnectionString=Host=db;Port=5432;Database=mydatabase;Username=myuser;Password=mypassword
    ports:
      - "8080:8080"

volumes:
  postgres_data:
